@import '../../../styles/config';
@import '../../../styles/utils';

.containerCustomize{
    position: absolute;
    top: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: $padding;
    gap: 32px;
}

.title {
    font-size: $font-size-secondary;
    font-family: $font-family-primary;
    font-weight: bold;
}

@include respond (medium) {
    .containerCustomize {
        position: static;
        width: 45%;
        height: 100vh;
        justify-content: space-between;

    }
}