@import '../../../styles/config'; 

.nav {
    padding: 26px 0px;
    background-color: $color-primary;
  }
  
  .brand {
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    color: $color-secondary;
  }
  