@import '../styles/utils';

.navbarPreview {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

@include respond (medium) {
    .previewCustomize {
        width: 100%;
        display: flex;
    }
}