

$color-primary: rgb(255, 255, 255);
$color-secondary: rgba(0, 0, 0);
$font-family-primary: 'Poppins'; 
$font-size-primary: 1rem;
$font-size-secondary: 2rem;
$padding: 0.5rem 1rem;
$limit: 10;
$unit: 8px;

