@import '../../../../styles/config';
@import '../../../../styles/utils';

.cardContainer {
    @include cards
}

.header {
    @include headers
}

.textarea {
    width: 100%;
    min-height: 52px;
    resize: vertical;
    outline: none;
    padding: 12px 18px;
    font-size: $font-size-primary;
    font-family:  $font-family-primary;
    color: $color-secondary;
    background: rgb(239, 239, 239);
    border: 1.6px solid $color-primary;
}

@include respond(medium) {
    .textarea {
        height: 78px;
    }
}